 .u-section-1 {
  background-image: url("images/xd.jpg");
  background-position: 100% 100%;
  background-size: auto 115%;
}

.u-section-1 .u-sheet-1 {
  min-height: 835px;
}

.u-section-1 .u-text-1 {
  background-image: none;
  font-weight: 700;
  font-size: 3.75rem;
  margin: 19px 0 0 14px;
}

.u-section-1 .u-btn-1 {
  border-style: solid;
  text-transform: uppercase;
  font-size: 2.25rem;
  letter-spacing: 1px;
  font-weight: 700;
  margin: 19px auto 0 14px;
  padding: 11px 15px 12px 14px;
}

.u-section-1 .u-btn-2 {
  border-style: solid;
  text-transform: uppercase;
  font-size: 2.25rem;
  letter-spacing: 1px;
  font-weight: 700;
  margin: 30px auto 60px 14px;
  padding: 17px 15px 18px 14px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 689px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 370px;
    margin-left: 0;
  }

  .u-section-1 .u-btn-1 {
    margin-left: 0;
  }

  .u-section-1 .u-btn-2 {
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 528px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 150px;
  }
}

@media (max-width: 767px) {
   .u-section-1 {
    background-position: 76.9% 50%;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 396px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 0;
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    background-position: 74.14% 50%;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 877px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: 28px;
    margin-right: 32px;
    font-size: 3rem;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 212px;
    margin-right: 0;
    padding-top: 12px;
    padding-left: 22px;
    padding-right: 22px;
  }

  .u-section-1 .u-btn-2 {
    margin-right: 0;
    padding-right: 23px;
    padding-left: 23px;
  }
}